/mb2008b-lecture-notes.aux
/mb2008b-lecture-notes.fdb_latexmk
/mb2008b-lecture-notes.fls
/mb2008b-lecture-notes.log
/mb2008b-lecture-notes.out
/mb2008b-lecture-notes.pdf
/mb2008b-lecture-notes.synctex.gz
/mb2008b-lecture-notes.toc